  <div id="sidebar">
    <h2>Table of Contents</h2>
    <ul>
    {{#hasInstanceMethods methods}}
    <li>
      <strong>Methods</strong>
      <ul class="ul--nested">
        {{#methods}}
        {{#if private}}
          <li class="private"><a href="#method-{{name}}"><span class="im">{{name}}</span>({{#params}}<span class="ia">{{name}}</span>{{/params}})</a></li>
        {{else}}
          <li><a href="#method-{{name}}"><span class="im">{{name}}</span>({{#params}}<span class="ia">{{name}}</span>{{/params}})</a></li>
        {{/if}}
        {{/methods}}
      </ul>
    </li>
    {{/hasInstanceMethods}}

    {{#if properties}}
    <li>
      <strong>Properties</strong>
      <ul class="ul--nested">
        {{#properties}}
        <li><a href="#prop-{{name}}"><span class="ip">{{name}}</span></a></li>
        {{/properties}}
      </ul>
    </li>
    {{/if}}

    {{#if attrs}}
    <li>
      <strong>Attributes</strong>
      <ul class="ul--nested">
        {{#attrs}}
        <li><a href="#attr-{{name}}"><span class="iattr">{{name}}</span></a></li>
        {{/attrs}}
      </ul>
    </li>
    {{/if}}

    {{#hasStaticMethods methods}}
    <li>
      <strong>Static Methods</strong>
      <ul class="ul--nested">
        {{#methods}}
        {{#if static}}
        <li><a href="#method-{{name}}"><span class="im">{{class}}.{{name}}</span>({{#params}}<span class="ia">{{name}}</span>{{/params}})</a></li>
        {{/if}}
        {{/methods}}
      </ul>
    </li>
    {{/hasStaticMethods}}
  </ul>
</div>
